# Build outputs
.next/
dist/
build/
out/

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment files
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# TypeScript
next-env.d.ts
*.tsbuildinfo

# OS
.DS_Store

# Misc
repo/
.vercel
